:root {
    --ion-toolbar-height: 56px;
}

/* VRcafe theme */
* {
    font-family: "Tomorrow", sans-serif;
}

/*ion-content {*/
/*    --ion-background-color: #1E1E1E;*/
/*}*/

ion-slide {
    display: block;
}

h1 {

    font-weight: bold !important;

}

p {
    font-weight: normal;
    font-size: 16px;
}

.slide1,
.slide2 {

    margin: 0 1em 0 1em;
}

.swiper {
    height: calc(100% - var(--ion-toolbar-height));
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet {
    background: #ffffff;
}

.swiper-pagination-bullet-active {
    /* background: #000000 !important; */
    background: #37f2a9 !important;
}

.navigator {
    margin-top: 200px;
    text-align: center;


}
.information-form p{
    width: 90%;
    margin-top: 20px;
    height: 80px;
    color: #FFFFFF;

    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}


.information-form h1{
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}
.slideContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}