ion-avatar {
  width: 200px;
  height: 200px;
  position: relative;
}

.badges {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.badges div {
  border: 1px solid black;
}

.achievements {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.achievements div {
  border: 1px solid black;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.openMore h2 {
  margin-bottom: 18px;
}

.openMore ion-icon {
  height: 2em;
  width: 2em;
  margin-left: 0.5em;
}

.xpProgress {
  width: 90%;
  height: 1.5em;
  border-radius: 10px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 1em 0;
}

.photoUploadContainer {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}