
.back-drop {
    background-color: #1E1E1E;
    position: absolute;
}

.logo-top-nav {

    width: 97px;
    height: 54px;
    margin-left: 23px;
    margin-top: 18px;
    filter: drop-shadow(-2px 6px 75px rgba(73, 73, 73, 0.45));
}

.back-drop p {

    margin-left: 30px;
    margin-top: 2em;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1px;
    color: #B8B7B7;
}

.back-drop h2 {

    margin-left: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #FFFFFF;

}

.login-form-submit{

    text-align: center;
    width: 80% ;
    margin-top: 50px;
}

.login-form{

    text-align: center;
    width: 80% ;
    margin-top: 220px;
}

.login-form p{

    margin-top: 10px;
    color: #B7B6B8;

}


.parent-container {


    display: flex;
    justify-content: center;
    align-items: center;
}
.back-drop-left {

    width: 60%;
    float: left;
}

.back-drop-right {

    width: 40%;
    float: left;

}


.back-drop-right img {

    float: right;
    margin-right: 2em;
    margin-top: 1em;
    width: 66px;
    border: 2px solid #FFFFFF;
    border-radius: 49px;
}

.back-drop {
    background-position-x: center;
    background-image: url("../../../public/assets/images/background.png");
    background-color: #640E8E;
    height: 320px;
    width: 100%;
}


.back-drop-bottom {

    clip-path: polygon(0% 0, 100% 00%, 0 120px);
    background-color: #640E8E;
    height: 10em;
    position: absolute;
    width: 100%;
    top: 318px;
}


.back-drop-background {

    background-position-x: center;
    background-image: url("../../../public/assets/images/background.png");
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}

.test{
    background-color: #2a2a2a!important;
    color: white !important;

}

.login-input{
    height: 3.5em;
    margin-top: 20px;
    background: rgba(42, 42, 42, 0.45) !important;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.06) !important;
    border-radius: 10px !important;
}

.content-logo {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    margin-top: 4em;
    width: 80%;
}



